{% extends 'base.html' %}
{% block title %} Podsumowanie {% endblock %}

{% block content %}

<header>
    <nav class="navbar sticky-top navbar-dark bg-dark" id="my-navbar">
        <div class="container-fluid">
            <a href="/" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <h5 class="text-white brand-heading h5"> Gotowość społeczeństwa na innowacyjne technologie w medycynie </h5>
            </a>
        </div>
    </nav>
</header>
<main>

<div class="container align-middle mt-5">  
    <hr>
    <p> Bardzo dziękujemy za pomoc w przeprowadzanym projekcie poprzez wypełnienie ankiety. <br> 
        Podsumowanie można sprawdzić poniżej.
    </p>
    <hr>
</div>

<div class="container align-middle mt-5"> 
    <h5 class="mb-5"> Informacje ogólne </h5>
      <table class="table mb-5">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Liczba uczestników ankiety</th>
            <th scope="col">Liczba kobiet </th>
            <th scope="col">Liczba mężczyzn </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> {{ number }}</td>
            <td> {{ women_count }}</td>
            <td> {{ men_count }}</td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Średni wiek uczestników ankiety</th>
            <th scope="col">Maks. wiek</th>
            <th scope="col">Min. wiek</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> {{ age_average }}</td>
            <td> {{ age_max }}</td>
            <td> {{ age_min }}</td>
          </tr>
        </tbody>
      </table>
</div>
<canvas id="myChart" width="400" height="200"></canvas> 

{% endblock %}

<!--
{% block chart %}
<script>
  var ctx = document.getElementById("chart").getContext("2d");
  var chart = new Chart(ctx, { 
    type: "line",
    data: {
      label: "Uczestnicy ankiety",
      datasets: [
        {
          label: "Uczestnicy ankiety",
          data: [2, 3, 4],
          fill: true,
          borderColor: "rgb(75, 192, 192)",
          lineTension: 0.1
        }
      ]
    },
      options: {
        responsive: false
      } 
    });
</script>
{% endblock %}
-->